body{
  padding:80px 40px;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  
  background-color: #3e2723;
  padding: 10px;
  border-radius: 10px;
}
.container > div {
  background-color: #80cbc4;
  border: 1px solid #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.item5 {
  grid-area: 1 / 2 / 5 / 7;
}
